@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #fff;
  --btn-color: rgb(47, 197, 207);
}

body {
  font-family: "Work Sans", sans-serif;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-1 {
  background-position: center;
  background-size: cover;
  width: 1000px;
  height: 10px;
}

.circle {
  width: 30%;
  border-radius: 50%;
}

::-webkit-scrollbar {
  width: 5px;
}

.active {
  background-color: blue;
}


::-webkit-scrollbar-track {
  background-color: #1b1717;
}


::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.profile {
  width: 60%;
  /* height: 0%; */
  border-radius: 50%;
  background-color: white;
  /* background-position: center; */
  background-origin: initial;
}

/* .profile:after {
  content: "";
  padding-bottom: 100%;
  display: block;
} */

/* .circle:after {
  content: "";
  padding-bottom: 100%;

  display: block;
} */

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fff;
  width: 25px;
  border-radius: 5px;
}
.swiper-pagination .swiper-pagination-bullet {
  background-color: #e9cb50;
}


html {
  background: #121212;
}

/**utility classes*/
input {
  outline: none;
  border: none;
}
.bg-position {
  background-position: center;
}

#sidebar a.active {
  background-color: #1b1717;
  color: #fdf2c5;
}

ul li {
  list-style: none !important;
}

.unorder li {
  padding-bottom: 5px;
}

.icon-color {
  color: var(--btn-color);
}
.btn a {
  color: var(--white);
}

a {
  text-decoration: none !important;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid #a0a8b5;
  background-color: #fff;

  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #2196f3;
  border: none;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
}

.checkContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmate {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #a0a8b5;
}

.checkContainer input:checked ~ .checkmate {
  background-color: #2196f3;
}

.checkmate:after {
  content: "";
  position: absolute;
  display: none;
}

.checkContainer input:checked ~ .checkmate:after {
  display: block;
}

/*  */

/* .flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
} */

/**.grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    align-items:center ;
}

 .grid2{
    display: grid;
    grid-template-columns: s 1fr ;
    grid-template-rows:  1fr;
    align-items:center ;
    gap:3rem;
}**/

.card {
  border: 1px solid rgb(229, 235, 233);
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  width: auto;
}

.cards {
  margin: 2rem 0rem;
}

img {
  width: 100%;
  height: 100%;
}

/**end of util classes*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.7rem;
}

.header-left input {
  padding: 0.5rem 1rem;
  display: none;
}

.header-left {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  cursor: pointer;
}

.header-right {
  display: none;
}

.bar {
  display: block;
  cursor: pointer;
}

.navigation {
  background: #fff;
  position: fixed;
  width: 50%;
  height: 100vh;
  top: 0;
  right: 0;
}

.navigation ul {
  padding: 0.5rem 0.8rem;
  margin-top: 1rem;
}
.navigation ul li {
  list-style: none;
  margin-top: 1.2rem;
}

.navigation ul li a {
  text-decoration: none;
}

.navigation .cross {
  position: absolute;
  top: 0;
  right: 0.8rem;
  margin: 0.5rem 0rem;
}

.primary-nav {
  margin-top: 0.7rem;
}

.primary-nav .flex {
  gap: 1rem;
}

.primary-nav ul li a {
  color: rgb(164, 175, 175);
}

.primary-left {
  display: none;
}

.hero {
  height: auto;
  width: auto;
  margin: 1rem 0;
  padding: 1rem;
}
.hero .grid {
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr;
}

.hero-inner,
.services-inner {
  margin: 0.7rem auto;
  width: 100%;
  max-width: 700px;
}

.hero-inner img {
  width: 18rem;
  height: 20rem;
  border-radius: 7px;
  object-fit: cover;
}

.hero-right {
  margin: 1rem 0;
}

.btn a {
  color: var(--white);
}
.btn {
  background: var(--btn-color);
  margin: 0.8rem 0rem;
  outline: none;
  border: none;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
}

.services {
  margin: 1rem 0.5rem;
}

@media screen and (min-width: 600px) {
  .header {
    justify-content: space-around;
  }
  .header-right {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .header-left {
    padding-right: 0.5rem;
  }

  .header-left input {
    display: block;
  }

  .bar {
    display: none;
  }
  .navigation {
    display: none;
  }
  .primary-nav .flex {
    flex-direction: row;
    gap: 1.2rem;
  }

  .primary-left {
    display: flex;
  }
  .hero {
    height: 400px;
  }
  .hero .grid {
    align-items: center;
    grid-template-columns: 2fr 1fr;
  }
  .grid2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
